# Do not include the view files saved by vim
vim/view/

#Or the recent operations performed in vim
.viminfo
.netrwhist

#Similarily ignore the bash history
.bash_history

#Also vim swap files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
